<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Kyselyn tiedot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content" class="container">
    <button th:href="@{/}" class="btn btn-primary">Takaisin</button>
	<div>
		<h1 th:text="${questionnaire.title}"></h1>
		<p th:text="${'Kuvaus: ' + questionnaire.description}" />
		<p>Kysymykset:</p>
		<p th:each="question: ${questionnaire.questions}" th:text="${question.questionText + ' (' + question.type.name +')'}">
	</div>
	<button class="btn btn-success" th:href="@{/addquestion/{questionnaireId}(questionnaireId=${questionnaire.questionnaireId})}">Lisää kysymys</button>
	<br />
	<br />
	<!--  <a th:href="@{/questionnaires/{questionnaireId}(questionnaireId=${questionnaire.questionnaireId})}">Näytä JSON</a> -->
	
	</div>
</body>
</html>