<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lisää kysely</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>Luo uusi kysely</h1>
		<form th:object="${questionnaire}" id="questionnaireForm" th:action="@{/newquestionnaire}" action="#" method="post">
			<!-- Kyselyn otsikon input-kenttä -->
			<label for="title">Kyselyn Otsikko</label>
			<br /> 	
			<input id="title" type="text" th:field="*{title}" size="50"/>
			<br />
			<!-- Kyselyn kuvauksen input-kenttä -->
			<label for="description">Kyselyn kuvaus</label>
			<br />	
			<textarea id="description" type="text" th:field="*{description}" rows="3" cols="50" />
			<br />
			<input type="submit" value="Tallenna" />			
		</form>		
	</div>
</body>
</html>