<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REST Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>REST Home Page</h1>
<h2>All Questionnaires</h2>
<p>
    <strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
        href="/questionnaires">/questionnaires</a></strong>
</p>
<p>
    <strong>JSON Example:</strong>
</p>
<pre><code>[

    {

        "text": "Kyllä, kurssin opiskelutavat tukivat oppimistani, erityisesti videot olivat hyödyllisiä",

        "question": {

            "questionId": 2

        }

    },

    {

        "text": "Oppimateriaalit voisivat olla hieman ajankohtaisemmat, muuten ei tule parannusideoita mieleen.",

        "question": {

            "questionId": 3

        }

    },

    {

        "text": "Joo, apua sai aina tarvittaessa ja mukavan nopeasti.",

        "question": {

            "questionId": 4

        }

    },

] </code></pre>
<h2>Questionnaire by Id</h2>
<p>
    <strong>GET </strong><strong> /questionnaire/{id} </strong> <strong>
    <a href="/questionnaires/1">/questionnaires/1</a></strong>
</p>
<p>
    <strong>JSON Example:</strong>
</p>
<pre><code>
    {

        "text": "Kyllä, kurssin opiskelutavat tukivat oppimistani",

        "question": {

            "questionId": 2

        }
</code></pre>

</body>