<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>REST Home Page</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content" class="container">
	<h1>REST Home Page</h1>


	
			<h2>Actions of resources</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Http Method</th>
					<th scope="col">Resource EndPoint</th>
					<th scope="col">Description</th>
					<th scope="col">JSON</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>GET</td>
					<td>/questionnaires</td>
					<td>Gets all questionnaires</td>
					<td><a href="/questionnaires">/questionnaires</a></td>
				</tr>

				<tr>

					<td>GET</td>
					<td>/questionnaires/id</td>
					<td>Gets questionnaire by id</td>
					<td><a href="/questionnaires/4">/questionnaires/4</a></td>

				</tr>

				<tr>

					<td>GET</td>
					<td>/answers/questionnaireId</td>
					<td>Gets all answers by questionnaire id (text, checkbox or
						radio)</td>
					<td><a href="/answers/4">/answers/4</a></td>
				</tr>
				<tr>

					<td>GET</td>
					<td>/answers/questionnaireId/questionId</td>
					<td>Gets all answers by questionnaire id and question id
						(text, checkbox or radio)</td>
					<td><a href="/answers/4/9">/answers/4/9</a></td>
				</tr>

				<tr>

					<td>POST</td>
					<td>/answers/questionnaireId</td>
					<td>Adds new answer</td>
					<td></td>
				</tr>
			</tbody>
		</table>

	</div>



	<h2>All Questionnaires</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href="/questionnaires">/questionnaires</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>[
   {
      "questionnaireId":4,
      "title":"HH-esimerkkikysely",
      "description":"Anna palautetta opintojaksosta",
      "questions":[
         {
            "questionId":8,
            "questionText":"Missä olisi mielestäsi parannettavaa?",
            "options":null,
            "type":{
               "name":"text"
            }
         },
       
         {
            "questionId":11,
            "questionText":"Oliko kurssi sinusta merkittävä?",
            "options":{
               "values":[
                  "Kyllä",
                  "Neutraali",
                  "Ei"
               ]
            },
            "type":{
               "name":"checkbox"
            }
         },
         {
            "questionId":14,
            "questionText":"Minkä arvosanan annat opetuksesta? (1-5)",
            "options":{
               "values":[
                  "1",
                  "2",
                  "3",
                  "4",
                  "5"
               ]
            },
            "type":{
               "name":"radio"
            }
         }
      ]
   }
]</code>
	</pre>


	<h2>Questionnaire by Id</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:
			questionnaires/{id}</strong> <strong><a href="/questionnaires/4">/questionnaires/4</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
   {
   "questionnaireId":4,
   "title":"HH-esimerkkikysely",
   "description":"Anna palautetta opintojaksosta",
   "questions":[
      {
         "questionId":8,
         "questionText":"Missä olisi mielestäsi parannettavaa?",
         "options":null,
         "type":{
            "name":"text"
         }
      },
      {
         "questionId":11,
         "questionText":"Oliko kurssi sinusta merkittävä?",
         "options":{
            "values":[
               "Kyllä",
               "Neutraali",
               "Ei"
            ]
         },
         "type":{
            "name":"checkbox"
         }
      },
      {
         "questionId":14,
         "questionText":"Minkä arvosanan annat opetuksesta? (1-5)",
         "options":{
            "values":[
               "1",
               "2",
               "3",
               "4",
               "5"
            ]
         },
         "type":{
            "name":"radio"
         }
      }
   ]
}
</code>
	</pre>


	<h2>All answers by questionnaireId</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:
			/answers/{questionnaireId}</strong> <strong><a href="/answers/5">/answers/5</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
  [
   {​​​​
      "text":"On",
      "question":{​​​​
         "questionId":19,
         "questionText":"Onko kysymysten luonti mielestäsi helppoa?"
      }​​​​
   }​​​​,
   {​​​​
      "text":"Se on hieno",
      "question":{​​​​
         "questionId":20,
         "questionText":"Mitä mieltä olet kyselylomakkeen visuaalisesta ilmeestä?"
      }​​​​
   }​​​​,
   {​​​​
      "text":"Jotenkin",
      "question":{​​​​
         "questionId":21,
         "questionText":"Miten kehittäisit kyselylomaketta?"
      }​​​​
   }​​​​
​​​​
​​​​
]
</code>
	</pre>
	<h2>Answer by questionnaireId and questionId</h2>

	<p>
		<strong>Method:</strong> GET <strong>Endpoint:
			/answers/{questionnaireId}/{questionId}</strong> <strong><a
			href="/answers/4/9">/answers/4/9</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre>
		<code>
  [
   {​​​​​​
      "text":"Kaikessa",
      "question":{​​​​​​
         "questionId":9,
         "questionText":"Missä olisi mielestäsi parannettavaa?"
      }​​​​​​
   }​​​​​​
]
</code>
	</pre>


	<h2>New answer</h2>
	<p>
		<strong>Method:</strong> POST <strong>Endpoint:
			/answers/{questionnaireId}</strong> <strong><a href="/answers/5">/answers/5</a></strong>
	</p>
	<pre>
		<code>
   [
    {
        "text": "Erittäin miellyttävä",
        "question": {
            "questionId": 20
        }
    }
]
</code>
	</pre>
</body>